# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres123
DB_HOST=localhost
DB_PORT=5435
DB_DATABASE=indoor_duration_db

# Application Configuration
APP_HOST=0.0.0.0
APP_PORT=8000
APP_RELOAD=true 