# Database Configuration
URL_DATABASE=postgresql://user-indoor:user-indoor-password@localhost:5432/db-indoor

# Example for development
# URL_DATABASE=postgresql://postgres:password@localhost:5432/indoor_duration_dev

# Example for production
# URL_DATABASE=postgresql://user:password@host:5432/indoor_duration_prod
